@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700;800&display=swap');


body {
    /* font-family: 'Poppins'; */
    overflow: hidden;
}

#sidebar{
    min-height: 100vh;
}

.hr {
}

.w-20p{
    width: 16%;
}


.w-80p{
    width: 84%;
}

.sidebar-menu a{
    text-align: left;
    margin: 10px 0 10px 0;
    display: flex;
    align-items: center;
}


.sidebar-menu a i{
    margin: 0 10px 0 0;
}


.sidebar-title {
    font-family: 'Poppins';
}

.navbar {
    border-bottom: 2px solid #007bff;
}

.nav-link {
    color: #007bff;
}

li {
    list-style-type: none;
}

ul {
    list-style: none;
}

  .metismenu {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .metismenu li {
    list-style-type: none;
  }
  
  .metismenu a {
    text-decoration: none;
    color: #007bff;
    display: flex;
    align-items: center;
    padding: 15px;
    transition: background-color 0.3s ease;
  }
  
  .metismenu a:hover {
    background-color:#007bff4c;
    cursor: pointer;

  }
  
  .metismenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
  }
  
  .metismenu .has-arrow::after {
    content: '\25B6';
    float: right;
    transition: transform 0.3s ease;
  }
  
  .metismenu .active ul {
    display: block;
  }
  
  .metismenu .has-arrow.active::after {
    transform: rotate(90deg);
  }

@media screen and (max-width: 1100px) {
    .w-20p{
        width: 20%;
    }

    .w-80p{
        width: 80%;
    }
}


@media screen and (max-width: 975px) {
    .w-20p{
        display: none;
    }

    .w-80p{
        width: 100%;
    }
}

