@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700;800&display=swap');


.body{
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     overflow: hidden;
     font-family: 'Poppins';
}


/* AUTHENTICATION STYLE PAGE */
.wrapper {
     z-index: 1;
}

.footer {
     font-family: 'Poppins';
     font-style: bold;
}

.label {
     font-family: 'Poppins';
     font-style: bold;
}

.btn-danger:hover {
     color: #fff;
     background-color: #bb2d3b;
     border-color: #b02a37;
}
.btn-primary:hover {
     color: #fff;
     background-color: #0b5ed7;
     border-color: #0a58ca;
}

table th, table thead {
     text-align: center !important;
     background-color: #0b5ed7 !important; /* Ganti dengan warna latar belakang yang diinginkan */
     color: white !important; 
 }

 
 
