@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700;800&display=swap');


.body{
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     overflow: hidden;
     font-family: 'Poppins';
}


/* AUTHENTICATION STYLE PAGE */
.wrapper {
     z-index: 1;
}

.footer {
     font-family: 'Poppins';
     font-style: bold;
}

.label {
     font-family: 'Poppins';
     font-style: bold;
}

