@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700;800&display=swap');


.body{
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     overflow: hidden;
}

/* AUTHENTICATION STYLE PAGE */
.wrapper {
     z-index: 1;
}

.footer {
     font-family: 'Poppins';
     font-style: bold;
}

.label {
     font-family: 'Poppins';
     font-style: bold;
}


#particles-js{
     background-color: rgb(255, 255, 255);
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     z-index: -1;
}
